# Google Calendar browser integration placeholders
VITE_GOOGLE_USE_MOCK=true
VITE_GOOGLE_CLIENT_ID=TODO_GOOGLE_CLIENT_ID
VITE_GOOGLE_API_KEY=TODO_GOOGLE_API_KEY
VITE_GOOGLE_DISCOVERY_DOC=https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest
VITE_GOOGLE_SCOPES=https://www.googleapis.com/auth/calendar
VITE_GOOGLE_OAUTH_SETUP=TODO_BACKEND_AND_GOOGLE_CONSOLE_SETUP
